[Unit]
Description=Check for and notify about system updates
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/kctl-update-check
